<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>SEO BOX</display-name>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPass</param-name>
        <param-value>Sachin</param-value>
    </context-param>
    <context-param>
        <param-name>dbClass</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/SEO</param-value>
    </context-param>
    <context-param>
        <param-name>ReCaptchaPublicKey</param-name>
        <param-value>6LdN6wATAAAAAB_n-OFaYCPkR9Tqv-nudhwfGMd_</param-value>
    </context-param>
    <context-param>
        <param-name>ReCaptchaSecretKey</param-name>
        <param-value>6LdN6wATAAAAAEGt0ZbW7VTere5xFCjUJFbMwe_T</param-value>
    </context-param>
    <context-param>
        <param-name>adminMailID</param-name>
        <param-value>skumar213@sapient.com</param-value>
    </context-param>
    <context-param>
        <description>
</description>
        <param-name>mailSenderAdminID</param-name>
        <param-value>sachinkmr3112@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>mailSenderAdminPass</param-name>
        <param-value>334512Sachin!</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>Sachin</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Testing@SEOBOX</param-value>
    </context-param>
    <servlet>
        <servlet-name>UserAgents</servlet-name>
        <servlet-class>com.sachin.site.UserAgents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SEO</servlet-name>
        <servlet-class>com.sachin.site.SEO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePage</servlet-name>
        <jsp-file>/WEB-INF/pages/OutputPages.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MainOutput</servlet-name>
        <jsp-file>/WEB-INF/pages/MainOutput.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>H1</servlet-name>
        <jsp-file>/WEB-INF/pages/H1.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MetaDescription</servlet-name>
        <jsp-file>/WEB-INF/pages/MetaDescription.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Keywords</servlet-name>
        <jsp-file>/WEB-INF/pages/Keywords.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>URL</servlet-name>
        <jsp-file>/WEB-INF/pages/URL.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Status</servlet-name>
        <jsp-file>/WEB-INF/pages/Status.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>H2</servlet-name>
        <jsp-file>/WEB-INF/pages/H2.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Title</servlet-name>
        <jsp-file>/WEB-INF/pages/Title.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Canonical</servlet-name>
        <jsp-file>/WEB-INF/pages/Canonical.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Alt</servlet-name>
        <jsp-file>/WEB-INF/pages/Alt.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>com.sachin.seo.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryPage</servlet-name>
        <jsp-file>/WEB-INF/pages/HistoryPage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FAQ</servlet-name>
        <jsp-file>/WEB-INF/pages/FAQ.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <jsp-file>/WEB-INF/pages/Contact.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>com.sachin.seo.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.sachin.seo.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data</servlet-name>
        <servlet-class>com.sachin.site.Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserGuide</servlet-name>
        <jsp-file>/WEB-INF/pages/UserGuide.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Res</servlet-name>
        <servlet-class>com.sachin.seo.Res</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTemplate</servlet-name>
        <servlet-class>com.sachin.seo.LoadTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadReports</servlet-name>
        <servlet-class>com.sachin.seo.LoadReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTemplate</servlet-name>
        <servlet-class>com.sachin.seo.DeleteTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTemplate</servlet-name>
        <servlet-class>com.sachin.seo.AddTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReport</servlet-name>
        <servlet-class>com.sachin.seo.DeleteReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <jsp-file>/WEB-INF/pages/Admin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <jsp-file>/WEB-INF/pages/AdminLogin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.sachin.seo.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAgents</servlet-name>
        <url-pattern>/UserAgents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEO</servlet-name>
        <url-pattern>/SEO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePage</servlet-name>
        <url-pattern>/CreatePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainOutput</servlet-name>
        <url-pattern>/MainOutput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>H1</servlet-name>
        <url-pattern>/H1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MetaDescription</servlet-name>
        <url-pattern>/MetaDescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Keywords</servlet-name>
        <url-pattern>/Keywords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URL</servlet-name>
        <url-pattern>/URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>H2</servlet-name>
        <url-pattern>/H2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Title</servlet-name>
        <url-pattern>/Title</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Canonical</servlet-name>
        <url-pattern>/Canonical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alt</servlet-name>
        <url-pattern>/Alt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryPage</servlet-name>
        <url-pattern>/HistoryPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQ</servlet-name>
        <url-pattern>/FAQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data</servlet-name>
        <url-pattern>/Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserGuide</servlet-name>
        <url-pattern>/UserGuide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Res</servlet-name>
        <url-pattern>/Res</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTemplate</servlet-name>
        <url-pattern>/LoadTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadReports</servlet-name>
        <url-pattern>/LoadReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTemplate</servlet-name>
        <url-pattern>/DeleteTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTemplate</servlet-name>
        <url-pattern>/addTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReport</servlet-name>
        <url-pattern>/DeleteReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
