<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>Utility to test basic functialities of BWS sites</description>
    <display-name>BWS Linter</display-name>
    <servlet>
        <servlet-name>Archives</servlet-name>
        <jsp-file>/WEB-INF/pages/HistoryPage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GetSiteInfoForPage</servlet-name>
        <servlet-class>sachin.bws.web.GetSiteInfoForPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>sachin.bws.web.Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <jsp-file>/WEB-INF/pages/admin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/WEB-INF/pages/Login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sachin.bws.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSite</servlet-name>
        <servlet-class>sachin.bws.web.AdminSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSiteServlet</servlet-name>
        <servlet-class>sachin.bws.web.AddNewSiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfo</servlet-name>
        <servlet-class>sachin.bws.web.GetInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Output</servlet-name>
        <jsp-file>/output.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>InstantRun</servlet-name>
        <servlet-class>sachin.bws.web.InstantRun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>sachin.bws.web.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Archives</servlet-name>
        <url-pattern>/archives</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSiteInfoForPage</servlet-name>
        <url-pattern>/GetSiteInfoForPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSite</servlet-name>
        <url-pattern>/AdminSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSiteServlet</servlet-name>
        <url-pattern>/AddNewSiteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfo</servlet-name>
        <url-pattern>/GetInfo</url-pattern>
        <url-pattern>/getInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Output</servlet-name>
        <url-pattern>/output</url-pattern>
        <url-pattern>/output.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstantRun</servlet-name>
        <url-pattern>/InstantRun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
    <context-param>
        <param-name>password</param-name>
        <param-value>sachin@BWS</param-value>
    </context-param>
    <listener>
        <listener-class>sachin.bws.web.QuartzListener</listener-class>
    </listener>
    <error-page>
        <exception-type>Exception</exception-type>
        <location>/errorPage.jsp</location>
    </error-page>
</web-app>
