<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.sapient.unilever.helper.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>com.sapient.unilever.helper.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Archives</servlet-name>
        <jsp-file>/WEB-INF/pages/HistoryPage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>com.sachin.templateFinder.Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTemplatesList</servlet-name>
        <servlet-class>com.sachin.templateFinder.GetTemplatesList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Archives</servlet-name>
        <url-pattern>/archives</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTemplatesList</servlet-name>
        <url-pattern>/GetTemplatesList</url-pattern>
        <url-pattern>/getTemplatesList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
